@import "normalize";
@import "foundation";
@import "compass/css3/transition";
@import "compass/css3/text-shadow";
@import "compass/css3/transform";
@import "compass/css3/opacity";
@import "compass/css3/box-shadow";
@import "compass/css3/border-radius";
@import "cw-custom"; // This is where we can put custom mixins and classes
@import "gravityforms";
@import "wordpress";
@import "bxslider";
@import "cw-accordion";
@import "cw-slides";

// variables
$linkColor: #49176d;
$linkHover: #1f0a2e;
$fontColor: #666666;

@font-face {
	font-family: Palatino;
    src: url(/wp-content/themes/cw/lib/webfonts/texgyrepagella-regular.otf) format("truetype");

	font-family: GreatVibesRegular;
    src: url(/wp-content/themes/cw/lib/webfonts/GreatVibes-Regular-webfont.ttf) format("truetype");
}

html, body {
	margin: 0;
	padding: 0;
	// background:url(/wp-content/themes/cw/img/bg_title.jpg)no-repeat ;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;

	 font-family: "Palatino";
	 color:#666666;
	 background-color:#F8F5EE;
}

body {
	&.admin-bar {
		padding-top: 46px;
	}
}

* {
	outline: none!important;

	&:hover,
	&:focus {
		outline: none!important;
	}
}


pre {
	position: relative;
	padding: 24px;
	font-size: 10px;
	border: solid 1px #666;
	background-color: #fff;
	@include border-radius(20px);
	margin: 15px;

	.close-pre {
		display: block;
		position: absolute;
		top: 15px;
		right: 15px;
		width: 20px;
		height: 20px;
		border: solid 1px #666;
		@include border-radius(20px);
		cursor: pointer;

		&:before,
		&:after {
			position: absolute;
			display: block;
			content: '';
			background-color: #666;
			width: 13px;
			height: 2px;
			top: 50%;
			left: 50%;
			@include transform-origin(center center);
			@include transition(.5s);
		}

		&:before {
			@include transform(translateY(-50%) translateX(-50%) rotate(0deg));
		}

		&:after {
			@include transform(translateY(-50%) translateX(-50%) rotate(0deg));
		}

		&.open {
			&:before {
				@include transform(translateY(-50%) translateX(-50%) rotate(90deg));
			}
			&:after {
				@include transform(translateY(-50%) translateX(-50%) rotate(180deg));
			}
		}
	}
}

// reference clases
.vertcent {
	position: absolute;
	top: 50%;
	@include transform(translateY(-50%));
}

.horzcent {
	position: absolute;
	left: 50%;
	@include transform(translateX(-50%));
}

.absocent {
	position: absolute;
	top: 50%;
	left: 50%;
	@include transform(translateX(-50%) translateY(-50%));
}

.smoothfont {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

//typography
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-family: "Palatino";
	color:#666666;

	&.page-title {
		margin-top: 20px;
		margin-bottom:20px;
		color:#556273;
		border-bottom: 1px solid #e3d4b3;
		box-shadow: 0px 1px 0px #fff;
		padding: 0;
		line-height: .8em;


	}
	&.post-title{
		margin-top: 20px;
		margin-bottom:20px;
		color:#c19846;
		padding: 0;
		line-height: .8em;
	}
}

h1 {
	font-size: 3.75em;
}

h2 {
	font-size: 3em;
}
h3 {
	font-size: 2.25em;
}
h4 {
	font-size: 1.875em;
}
h5 {
	font-size: 1.5em;
}
h6 {
	font-size: 1.125em;
}

p, li  {
	font-family: "Palatino";
	font-size: .875em;
	color: $fontColor;
}

p:last-child {
	margin-bottom: 0;
}

ul {
	&.styleless {
		list-style-type: none;
		padding: 0;
		margin: 0;
	}
}

a {
	color: $linkColor;
	@include transition(.25s);

	&:hover {
		color: $linkHover;
		@include transition(.25s);
		text-decoration: underline;
	}
}

input[type="text"],
input[type="email"],
input[type="submit"],
select,
textarea {
	border: 1;
	outline: none!important;
	padding: 10px!important;
	margin: 0!important;
}

input[type="submit"] {

}

input[type="text"],
input[type="email"],
textarea {

}

input[type="text"],
input[type="email"] {

}

textarea {

}

// General CSS
.fuzzy_back
{
	background: rgba(0, 0, 0, 0.5);
}
.center{
	text-align: center;
	margin-left: auto;
    margin-right: auto;
}
.f_left{ float:left; text-align:left;}
.f_right{ float:right; text-align:right;}
.w_txt{
	color:#FFF;
}
.hr_inv{
	border: 1px transparent;
}


//buttons
.button{
	background:#ede5d4;
	border:1px solid #fff !important;
	color:#c19846;
	padding:0.5em 1em 0.5em 1em;
	border-radius:0.3em;
}
.button:hover, .button:focus {

  	background:#ede5d4;
  	-moz-box-shadow: inset 0 0 5px #999999;
	-webkit-box-shadow: inset 0 0 5px #999999;
	box-shadow: inner 0 0 5px #999999;

}
.article_button {

	color:#c19846;
}


.slogan {
  font-family: GreatVibesRegular;
  font-size: 2.25em;
  font-weight: normal;
  margin-top: 40px;
  margin-bottom: 75px;
  padding-right: 8px;
  color: #49276c;
}

.banner_bg{
	background: #F8F5EE url(/wp-content/themes/cw/img/images/topBg.png) no-repeat center 0;
}
.con_info{
	padding-top:70px;
	//border-bottom:1px solid #fff;
}
.grey_txt{
	color:#b6b6b6;
	font-size:0.8em;
}
.phone_txt{
	font-size:1em;
}
.social_icon{
	width:16px;
	height:16px;
	margin-left:10px;
}

// header and nav
[role=banner] {

	// foundation nav structure
	.contain-to-grid {
		background:transparent;

		[role="navigation"] {
			background:transparent;
			//min-height:60px;

			.title-area {
			}
			.top-bar-section {


				ul li{
					//background:#3B5981;
					margin: 0px 25px 5px 10px ;
				}
				li:not(.has-form) a:not(.button) {
				  padding: 0px 10px 0px 10px;
				  line-height: 45px;
				  font-family: "Palatino";
				  background:transparent;
				  font-size: 25px;
				  font-family: 'Vollkorn', serif;
				  color:#c19846;
				  border-radius:0.3em;
				  border:1px solid transparent;

				}

				.dropdown li a {
				  color: white !important;
				  // line-height: 1;
				  // white-space: nowrap;
				  // padding: 12px 15px;
				  // background: #333333;
				  background-color: #c19846 !important;
				  font-size: 17px !important;
				  padding: 0px 10px 0px 10px !important;
				}

				.menu {
					.menu-item {
						&.menu-item-type-custom {
							& > a {
							}
						}
						&.current-menu-item,
						&.current-menu-parent,
						&.active {
							& > a {
							}
						}
						a {
							&:hover {
								text-decoration: none;
								//background-color:#fff;
								border:1px solid #fff;

								-moz-box-shadow: inset 0 0 5px #CFB072;
								-webkit-box-shadow: inset 0 0 5px #CFB072;
								box-shadow: inner 0 0 5px #CFB072;
							}
							&:active{

								-moz-box-shadow: inset 0 0 5px #999999;
								-webkit-box-shadow: inset 0 0 5px #999999 !important;
								box-shadow: inner 0 0 5px #999999;
							}
						}
						.sub-menu {
							.menu-item {
								&.menu-item-type-custom {
									a {
									}
								}
								a {
									&:hover {
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

.top-bar .name {
  background-color: #A36AAD;
  margin: 0px;
}
.top-bar-section ul {
  background: #F2EBDE;

}

.top-bar-section .has-dropdown > a:after {
  border-color: rgba(194, 154, 74, 1) transparent transparent transparent;

}

// slide area
.slide_area{
	.columns{
		padding:0.5em;
	}
}
.slide_content{
	margin-top:20px;
}
.slide_home_content{
	margin-top:20px;
}

.slide_shadow{
	width:100%;
	margin-top:-2px;
}
.promo{
	margin-bottom:20px;
}
.promo_shadow{
	//width:100%;
	margin-top:-1px;
}
.promo_lady{
	margin-bottom:-30px;
	z-index:10;
	position:relative;
}
.promo_lady1{
	margin-bottom:-60px;
	z-index:10;
	position:relative;
}

.cw-slideshow {

  margin-bottom: 0px;

}

// main content
[role="main"] {
	.home & {
	}
}

.line{
	height:2px;
	// background: url(/wp-content/themes/cw/img/images/bottomBg.png) repeat-x bottom center;
	width:100%;
	padding-left:5px;
	padding-right:15px;
}
.line_social{
	height:2px;
	width:100%;
	padding-left:220px;
	padding-right:15px;
}

//g maps
.google-maps {
    position: relative;
    padding-bottom: 75%; // This is the aspect ratio
    height: 0;
    overflow: hidden;
}
.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}
//staff page
.staff_content{
	.columns{
		padding:0.4em;
	}
	padding:10px;
}
.staff_pic{
	border:10px solid #E8DFCB;
}

.procedures_title{
	  color: #49176d;
}
.procedures_sub_title{
	padding:10px 0px 10px 0px;
}

//blog area
.blog_thumb{
	img{
		float:left;
		max-width: 150px;
		max-height:150px;
		padding:5px 10px 5px 5px;
	}
}

.page-title_page{
	margin-top: 20px;
	margin-bottom:20px;
	color:#49176d;
	border-bottom: 1px solid #e3d4b3;
	box-shadow: 0px 1px 0px #fff;
	padding: 0;
	line-height: .8em;
}
.each_post_title{
	color:#c19846;
}
.date_area{
	background:#E8E0CA;
}
.date{
	padding:10px;
}
.blog_hr{
	border:1px solid transparent;
	margin:0px;
}

.clc_blog{
	border-bottom: 1px solid #e3d4b3;
  	box-shadow: 0px 1px 0px #fff;
}

.blog_thumb_home{
	img{

		max-width: 100%;
		padding:5px 10px 5px 5px;
	}
}
.blog_home_content{
	margin-top:20px;
	border-right: 1px solid #e3d4b3;
  	box-shadow: 1px 0px 1px #fff;
  	a h4:hover{
  		color:#006f53;
  	}
  	a:hover{
  		color:#006f53;
  		text-decoration: none;
  	}

}
.home_article{
	padding-top:10px;
	border-bottom: 1px solid #e3d4b3;
	box-shadow: 0px 1px 0px #fff;
	a h6{
		color:#49176d;
	}
	a h6:hover{
		color:#006f53;
  		text-decoration: none;
	}
}


// sidebar
[role="complementary"] {
	margin-top:20px;

}
.signup{
	color:#FFF;
	font-size: 1em;
	p{
		color:#FFF;
	}
	ul li{
		color:#FFF;
	}

	border-radius:0.5em;
	padding:20px 10px 0px 15px;

	background: rgb(184,161,208); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(184,161,208,1) 0%, rgba(128,99,158,1) 52%, rgba(75,41,110,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(184,161,208,1)), color-stop(52%,rgba(128,99,158,1)), color-stop(100%,rgba(75,41,110,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(184,161,208,1) 0%,rgba(128,99,158,1) 52%,rgba(75,41,110,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(184,161,208,1) 0%,rgba(128,99,158,1) 52%,rgba(75,41,110,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(184,161,208,1) 0%,rgba(128,99,158,1) 52%,rgba(75,41,110,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(184,161,208,1) 0%,rgba(128,99,158,1) 52%,rgba(75,41,110,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b8a1d0', endColorstr='#4b296e',GradientType=0 ); /* IE6-9 */

	max-width:300px;

}

.gform_wrapper .gform_footer input[type=image] {
	border-radius:0.3em;
	float:right;
	margin-top:-65px;
	padding:0px;
}
.so{
	font-family: GreatVibesRegular;
	font-size:2.5em;
}

// procedures
.procedure-list {
  margin: 0;
  padding: 0;
  float: right;
  	li{
	  	list-style: none;
		position: relative;
		float: left;
		margin: -5px 0 0 0;
		padding: 0 5px 5px 5px;
  	}
  	a{
  		float: left;
	  	display: block;
	  	margin: 0;
	 	padding: 1px 13px 1px 11px;
  		border:1px solid transparent;
  		font-size:18px;
  		text-decoration: none;
  		color: #c19846;
  }
  	a:hover{
	  	background:#ede5d4;
	  	-moz-box-shadow: inset 0 0 5px #999999;
		-webkit-box-shadow: inset 0 0 5px #999999;
		box-shadow: inner 0 0 5px #999999;
		border:1px solid #FFF;
		border-radius:0.3em;

  	}
  	.current{
	  	background:#ede5d4;
	  	-moz-box-shadow: inset 0 0 5px #999999;
		-webkit-box-shadow: inset 0 0 5px #999999;
		box-shadow: inner 0 0 5px #999999;
		border:1px solid #FFF;
		border-radius:0.3em;

	 }

}


// footer
[role="contentinfo"] {
	padding-bottom:10px;
}

.footer_area{
	background:#666;
	background: url(/wp-content/themes/cw/img/images/bottomBg.png) no-repeat bottom center;
	padding:70px 0px 0px 0px;
	p{
		color:#666;
		font-size: 14px;
		//line-height: 2;
	}
	a{
		color:#006f53;
	}
	a:hover{
		color:#8c6d2f;
		text-decoration: underline;
	}
}
.address{
	 margin-top:20px;
}
.bbb{
	margin-top:75px;
}

// misc stuff, specific stuff, global stuff
.logo {
	padding:50px;
	a {
		display: inline-block;
	}
}

.cw {
	display: block;
	width: 100%;
	height: 30px;
	background: right center no-repeat url(/wp-content/themes/cw/img/cw-dark.png);
	text-indent: -9999px;
}

.gf_captcha {
	display: none;
}

.cf:before,
.cf:after {
content: " "; /* 1 */
display: table; /* 2 */
}

.cf:after {
	clear: both;
}


//media queries
@media all and (min-width: 1001px) {

	[role=banner] .contain-to-grid [role="navigation"] .top-bar-section li:not(.has-form) a:not(.button) {
		padding: 0px 10px 0px 10px;
		line-height: 45px;
		font-size: 25px;

	}
	[role=banner] .contain-to-grid [role="navigation"] .top-bar-section ul li{
		margin: 0px 25px 5px 10px ;
	}

}

@media all and (max-width: 1001px) {

	[role=banner] .contain-to-grid [role="navigation"] .top-bar-section li:not(.has-form) a:not(.button) {
		padding: 0px 10px 0px 10px;
		line-height: 45px;
		font-size: 22px;

	}
	[role=banner] .contain-to-grid [role="navigation"] .top-bar-section ul li{
		margin: 0px 20px 5px 10px ;
	}


	.procedure-list {
	  margin: 0;
	  padding: 0;
	  float: right;
	  	li{
		  	list-style: none;
			position: relative;
			float: left;
			margin: -5px 0 0 0;
			padding: 10px 5px 5px 5px;
			border-bottom:1px solid #dddddd;
	  	}

	}

}

@media all and (max-width: 890px) {

	[role=banner] .contain-to-grid [role="navigation"] .top-bar-section li:not(.has-form) a:not(.button) {
		padding: 0px 10px 0px 10px;
		line-height: 45px;
		font-size: 20px;

	}
	[role=banner] .contain-to-grid [role="navigation"] .top-bar-section ul li{
		margin: 0px 15px 5px 10px ;
	}

}

@media all and (max-width: 815px) {

	[role=banner] .contain-to-grid [role="navigation"] .top-bar-section li:not(.has-form) a:not(.button) {
		padding: 0px 10px 0px 10px;
		line-height: 45px;
		font-size: 20px;

	}
	[role=banner] .contain-to-grid [role="navigation"] .top-bar-section ul li{
		margin: 0px 5px 5px 10px ;
	}

}

@media all and (max-width: 745px) {

	[role=banner] .contain-to-grid [role="navigation"] .top-bar-section li:not(.has-form) a:not(.button) {
		padding: 0px 5px 0px 5px;
		line-height: 45px;
		font-size: 20px;

	}
	[role=banner] .contain-to-grid [role="navigation"] .top-bar-section ul li{
		margin: 0px 5px 5px 10px ;
	}


}

@media all and (max-width: 690px) {
	[role=banner] .contain-to-grid [role="navigation"] .top-bar-section li:not(.has-form) a:not(.button) {
		padding: 0px 7px 0px 7px;
		line-height: 45px;
		font-size: 20px;

	}
	[role=banner] .contain-to-grid [role="navigation"] .top-bar-section ul li{
		margin: 0px 5px 0px 0px ;
	}
}

@media all and (max-width: 640px) {
	[role=banner] .contain-to-grid [role="navigation"] .top-bar-section li:not(.has-form) a:not(.button) {
		padding: 0px 10px 0px 10px;
		line-height: 45px;
		font-size: 25px;

	}
	[role=banner] .contain-to-grid [role="navigation"] .top-bar-section ul li{
		margin: 0px 25px 5px 10px ;
	}

	.slogan {
	  margin-top: 15px;
	  margin-bottom: 15px;
	}

	h1.logo {
		padding: 15px;
	}

	.procedure-list {
	  	li{
			padding: 10px 2.5px 5px 2.5px;
			a {
				font-size: 14px;
				padding: 1px 5px;
			}
	  	}

	}
}



/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
 .cf {
 	*zoom: 1;
 }

@media all and (min-width: 783px) {
	body {
		&.admin-bar {
			padding-top: 32px;
		}
	}
}

 // print styles
 @media print {
 	* { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; }
 	a, a:visited { text-decoration: underline; }
 	a[href]:after { content: " (" attr(href) ")"; }
 	abbr[title]:after { content: " (" attr(title) ")"; }
 	.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
 	pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
 	thead { display: table-header-group; }
 	tr, img { page-break-inside: avoid; }
 	img { max-width: 100% !important; }
 	@page { margin: 0.5cm; }
 	p, h2, h3 { orphans: 3; widows: 3; }
 	h2, h3 { page-break-after: avoid; }
 }